<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>castle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{205,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,182}}</string>
				<key>sourceSize</key>
				<string>{205,182}</string>
			</dict>

			<key>castle_beige.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{204,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,182}}</string>
				<key>sourceSize</key>
				<string>{204,182}</string>
			</dict>

			<key>castle_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{204,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,182}}</string>
				<key>sourceSize</key>
				<string>{204,182}</string>
			</dict>

			<key>castle_wall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{295,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,138}}</string>
				<key>sourceSize</key>
				<string>{295,138}</string>
			</dict>

			<key>fence.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,853},{128,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,88}}</string>
				<key>sourceSize</key>
				<string>{128,88}</string>
			</dict>

			<key>fence_piece.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,314},{110,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,86}}</string>
				<key>sourceSize</key>
				<string>{110,86}</string>
			</dict>

			<key>house_beige_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,853},{102,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,115}}</string>
				<key>sourceSize</key>
				<string>{102,115}</string>
			</dict>

			<key>house_beige_side.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,737},{189,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,115}}</string>
				<key>sourceSize</key>
				<string>{189,115}</string>
			</dict>

			<key>house_front_short.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{102,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,115}}</string>
				<key>sourceSize</key>
				<string>{102,115}</string>
			</dict>

			<key>house_front_tall.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,489},{102,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,174}}</string>
				<key>sourceSize</key>
				<string>{102,174}</string>
			</dict>

			<key>house_grey_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,314},{102,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,174}}</string>
				<key>sourceSize</key>
				<string>{102,174}</string>
			</dict>

			<key>house_grey_side.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,139},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,174}}</string>
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>

			<key>house_side_short.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,621},{189,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,115}}</string>
				<key>sourceSize</key>
				<string>{189,115}</string>
			</dict>

			<key>house_side_tall.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,438},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,174}}</string>
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>

			<key>piramid.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{215,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,166}}</string>
				<key>sourceSize</key>
				<string>{215,166}</string>
			</dict>

			<key>temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,139},{223,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,131}}</string>
				<key>sourceSize</key>
				<string>{223,131}</string>
			</dict>

			<key>tower.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{66,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,227}}</string>
				<key>sourceSize</key>
				<string>{66,227}</string>
			</dict>

			<key>tower_beige.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,0},{66,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,227}}</string>
				<key>sourceSize</key>
				<string>{66,227}</string>
			</dict>

			<key>tower_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,664},{66,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,227}}</string>
				<key>sourceSize</key>
				<string>{66,227}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>building_sprites.png</string>
			</dict>
		</dict>
</plist>