<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1025},{800,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{800,480}}</string>
				<key>sourceSize</key>
				<string>{800,480}</string>
			</dict>

			<key>cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,126},{190,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,127}}</string>
				<key>sourceSize</key>
				<string>{190,127}</string>
			</dict>

			<key>cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,0},{200,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,125}}</string>
				<key>sourceSize</key>
				<string>{200,125}</string>
			</dict>

			<key>cloud3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,427},{177,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,121}}</string>
				<key>sourceSize</key>
				<string>{177,121}</string>
			</dict>

			<key>cloud4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,669},{228,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,124}}</string>
				<key>sourceSize</key>
				<string>{228,124}</string>
			</dict>

			<key>cloud5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,1506},{238,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,135}}</string>
				<key>sourceSize</key>
				<string>{238,135}</string>
			</dict>

			<key>cloud6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1506},{266,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,138}}</string>
				<key>sourceSize</key>
				<string>{266,138}</string>
			</dict>

			<key>cloud7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,550},{234,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,118}}</string>
				<key>sourceSize</key>
				<string>{234,118}</string>
			</dict>

			<key>cloud8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,307},{210,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,119}}</string>
				<key>sourceSize</key>
				<string>{210,119}</string>
			</dict>

			<key>cloud9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,794},{213,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,119}}</string>
				<key>sourceSize</key>
				<string>{213,119}</string>
			</dict>

			<key>clouds1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1323},{1001,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1001,206}}</string>
				<key>sourceSize</key>
				<string>{1001,206}</string>
			</dict>

			<key>clouds2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1659},{1000,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1000,246}}</string>
				<key>sourceSize</key>
				<string>{1000,246}</string>
			</dict>

			<key>groundDirt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1906},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundGrass.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1803},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundIce.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1731},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundRock.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1906},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundSnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1659},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>hills1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1530},{1001,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1001,128}}</string>
				<key>sourceSize</key>
				<string>{1001,128}</string>
			</dict>

			<key>hills2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1194},{1001,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1001,128}}</string>
				<key>sourceSize</key>
				<string>{1001,128}</string>
			</dict>

			<key>moon_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,914},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,85}}</string>
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>

			<key>moon_half.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,914},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>mountain1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,0},{286,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{286,306}}</string>
				<key>sourceSize</key>
				<string>{286,306}</string>
			</dict>

			<key>mountain2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,307},{249,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,242}}</string>
				<key>sourceSize</key>
				<string>{249,242}</string>
			</dict>

			<key>mountain3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,550},{245,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,397}}</string>
				<key>sourceSize</key>
				<string>{245,397}</string>
			</dict>

			<key>pointy_mountains.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1025},{1001,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1001,168}}</string>
				<key>sourceSize</key>
				<string>{1001,168}</string>
			</dict>

			<key>rock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,480},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,669},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockGrass.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,240},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockGrassDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,0},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockIce.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,240},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockIceDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,0},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockSnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,0},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockSnowDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1486,254},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>sky.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1024,1024}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1024,1024}}</string>
				<key>sourceSize</key>
				<string>{1024,1024}</string>
			</dict>

			<key>sun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,914},{87,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,86}}</string>
				<key>sourceSize</key>
				<string>{87,86}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>nature_sprites.png</string>
			</dict>
		</dict>
</plist>