<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>planeBlue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,74},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeBlue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,0},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeBlue3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeGreen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeGreen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeGreen3.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,148},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeRed1.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,74},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeRed2.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,0},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeRed3.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,148},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeYellow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,74},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeYellow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,0},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

			<key>planeYellow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,148},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,73}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>plane_sprites.png</string>
			</dict>
		</dict>
</plist>