<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>letterA.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{61,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,64}}</string>
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>

			<key>letterB.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,377},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,66}}</string>
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>

			<key>letterC.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,153},{52,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,66}}</string>
				<key>sourceSize</key>
				<string>{52,66}</string>
			</dict>

			<key>letterD.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,230},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,66}}</string>
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>

			<key>letterE.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,286},{45,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,64}}</string>
				<key>sourceSize</key>
				<string>{45,64}</string>
			</dict>

			<key>letterF.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,284},{44,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,64}}</string>
				<key>sourceSize</key>
				<string>{44,64}</string>
			</dict>

			<key>letterG.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,153},{52,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,66}}</string>
				<key>sourceSize</key>
				<string>{52,66}</string>
			</dict>

			<key>letterH.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,220},{51,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,64}}</string>
				<key>sourceSize</key>
				<string>{51,64}</string>
			</dict>

			<key>letterI.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,153},{22,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,64}}</string>
				<key>sourceSize</key>
				<string>{22,64}</string>
			</dict>

			<key>letterJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,349},{42,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,66}}</string>
				<key>sourceSize</key>
				<string>{42,66}</string>
			</dict>

			<key>letterK.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,440},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,64}}</string>
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>

			<key>letterL.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,219},{44,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,64}}</string>
				<key>sourceSize</key>
				<string>{44,64}</string>
			</dict>

			<key>letterM.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>

			<key>letterN.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,375},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,64}}</string>
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>

			<key>letterO.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,413},{60,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,66}}</string>
				<key>sourceSize</key>
				<string>{60,66}</string>
			</dict>

			<key>letterP.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,153},{48,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,65}}</string>
				<key>sourceSize</key>
				<string>{48,65}</string>
			</dict>

			<key>letterQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,413},{60,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,79}}</string>
				<key>sourceSize</key>
				<string>{60,79}</string>
			</dict>

			<key>letterR.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,441},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,65}}</string>
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>

			<key>letterS.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,219},{46,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,66}}</string>
				<key>sourceSize</key>
				<string>{46,66}</string>
			</dict>

			<key>letterT.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,220},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>letterU.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,232},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,66}}</string>
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>

			<key>letterV.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,283},{61,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,64}}</string>
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>

			<key>letterW.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{76,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,64}}</string>
				<key>sourceSize</key>
				<string>{76,64}</string>
			</dict>

			<key>letterX.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,283},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,64}}</string>
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>

			<key>letterY.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,348},{57,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,64}}</string>
				<key>sourceSize</key>
				<string>{57,64}</string>
			</dict>

			<key>letterZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,444},{50,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,64}}</string>
				<key>sourceSize</key>
				<string>{50,64}</string>
			</dict>

			<key>number0.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,375},{53,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,78}}</string>
				<key>sourceSize</key>
				<string>{53,78}</string>
			</dict>

			<key>number1.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,416},{37,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,76}}</string>
				<key>sourceSize</key>
				<string>{37,76}</string>
			</dict>

			<key>number2.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,299},{51,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,77}}</string>
				<key>sourceSize</key>
				<string>{51,77}</string>
			</dict>

			<key>number3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,153},{51,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,78}}</string>
				<key>sourceSize</key>
				<string>{51,78}</string>
			</dict>

			<key>number4.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,153},{55,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,76}}</string>
				<key>sourceSize</key>
				<string>{55,76}</string>
			</dict>

			<key>number5.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,377},{50,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,76}}</string>
				<key>sourceSize</key>
				<string>{50,76}</string>
			</dict>

			<key>number6.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,297},{53,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,77}}</string>
				<key>sourceSize</key>
				<string>{53,77}</string>
			</dict>

			<key>number7.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,364},{51,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,76}}</string>
				<key>sourceSize</key>
				<string>{51,76}</string>
			</dict>

			<key>number8.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,285},{51,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,78}}</string>
				<key>sourceSize</key>
				<string>{51,78}</string>
			</dict>

			<key>number9.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,297},{53,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,77}}</string>
				<key>sourceSize</key>
				<string>{53,77}</string>
			</dict>

			<key>starBronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,454},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,37}}</string>
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>

			<key>starGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,153},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,37}}</string>
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>

			<key>starSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,230},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,37}}</string>
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>

			<key>textGameOver.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{412,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{412,78}}</string>
				<key>sourceSize</key>
				<string>{412,78}</string>
			</dict>

			<key>textGetReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{400,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,73}}</string>
				<key>sourceSize</key>
				<string>{400,73}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>title_sprites.png</string>
			</dict>
		</dict>
</plist>